<%= form_for(@kunde) do |f| %>
  <% if @kunde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kunde.errors.count, "error") %> prohibited this kunde from being saved:</h2>

      <ul>
      <% @kunde.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gruppe %><br>
    <%= f.text_field :gruppe %>
  </div>
  <div class="field">
    <%= f.label :anrede %><br>
    <%= f.text_field :anrede %>
  </div>
  <div class="field">
    <%= f.label :nachname %><br>
    <%= f.text_field :nachname %>
  </div>
  <div class="field">
    <%= f.label :vorname %><br>
    <%= f.text_field :vorname %>
  </div>
  <div class="field">
    <%= f.label :geburtsdatum %><br>
    <%= f.date_select :geburtsdatum %>
  </div>
  <div class="field">
    <%= f.label :geburtsort %><br>
    <%= f.text_field :geburtsort %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :plz %><br>
    <%= f.text_field :plz %>
  </div>
  <div class="field">
    <%= f.label :stadt %><br>
    <%= f.text_field :stadt %>
  </div>
  <div class="field">
    <%= f.label :telefonnummer %><br>
    <%= f.text_field :telefonnummer %>
  </div>
  <div class="field">
    <%= f.label :tsp_versicherungskunde %><br>
    <%= f.check_box :tsp_versicherungskunde %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
