<p id="notice"><%= notice %></p>

<p>
  <strong>Iban:</strong>
  <%= @kundenkonto.iban %>
</p>

<p>
  <strong>Bic:</strong>
  <%= @kundenkonto.bic %>
</p>

<p>
  <strong>Institut:</strong>
  <%= @kundenkonto.institut %>
</p>

<p>
  <strong>Kunde:</strong>
  <%= @kundenkonto.kunde_id %>
</p>

<%= link_to 'Edit', edit_kundenkonto_path(@kundenkonto) %> |
<%= link_to 'Back', kundenkontos_path %>
